@import url(https://fonts.googleapis.com/css?family=Barlow:400,400i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Barlow', sans-serif;
  font-size: 6rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Barlow', sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.32rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Permanent Marker', handwriting;
  font-size: 1.6rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.8 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-success:hover {
  background: #29361a !important;
  border-color: #29361a !important;
}
.btn-secondary {
  color: black!important;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: black!important;
  background: #f9ad05 !important;
  border-color: #f9ad05 !important;
}
.btn-primary {
  color: white!important;
}
.btn-primary:hover {
  background: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info {
  color: white!important;
}
.btn-success:hover {
  background: #29361a !important;
  border-color: #29361a !important;
}
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #e7272d !important;
}
.bg-success {
  background-color: #89b758 !important;
}
.bg-info {
  background-color: #29361a !important;
}
.bg-warning {
  background-color: #808080 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e7272d !important;
  border-color: #e7272d !important;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff;
  background-color: #e7272d;
  border-color: #e7272d;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #e7272d !important;
  border-color: #e7272d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff;
  background-color: #fbbe36;
  border-color: #fbbe36;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff;
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info,
.btn-info:active {
  background-color: #29361a !important;
  border-color: #29361a !important;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff;
  background-color: #29361a;
  border-color: #29361a;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff;
  background-color: #29361a !important;
  border-color: #29361a !important;
}
.btn-success,
.btn-success:active {
  background-color: #89b758 !important;
  border-color: #89b758 !important;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff;
  background-color: #89b758;
  border-color: #89b758;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff;
  background-color: #89b758 !important;
  border-color: #89b758 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #808080 !important;
  border-color: #808080 !important;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #971115;
  color: #971115;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #e7272d;
  border-color: #e7272d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e7272d !important;
  border-color: #e7272d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #c78b04;
  color: #c78b04;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #fbbe36;
  border-color: #fbbe36;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #29361a;
  border-color: #29361a;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #29361a !important;
  border-color: #29361a !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #567633;
  color: #567633;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #89b758;
  border-color: #89b758;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #89b758 !important;
  border-color: #89b758 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #4d4d4d;
  color: #4d4d4d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e7272d !important;
}
.text-secondary {
  color: #fbbe36 !important;
}
.text-success {
  color: #89b758 !important;
}
.text-info {
  color: #29361a !important;
}
.text-warning {
  color: #808080 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f18386 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #fdde9a !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #bbd69f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #5d7b3b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b3b3b3 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d6ceb5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #29361a;
}
.alert-warning {
  background-color: #808080;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e7272d;
  border-color: #e7272d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e7272d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fbdfe0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c8ddb1;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #9dbe78;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c0c0c0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #e7272d;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e7272d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e7272d;
  border-bottom-color: #e7272d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e7272d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fbbe36 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e7272d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-rTSIVn9M4U .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rTSIVn9M4U .dropdown-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.cid-rTSIVn9M4U .dropdown-menu {
  padding: 0;
  background: #ffffff !important;
}
.cid-rTSIVn9M4U .dropdown-item {
  color: #fbbe36 !important;
}
.cid-rTSIVn9M4U .dropdown-item:hover {
  color: #fbbe36 !important;
}
.cid-rTSIVn9M4U .nav-link {
  position: relative;
  font-weight: 600;
}
.cid-rTSIVn9M4U .nav-link:hover {
  color: #fbbe36 !important;
}
.cid-rTSIVn9M4U .btn-white {
  color: #e7272d !important;
}
.cid-rTSIVn9M4U .btn:hover {
  border-color: #fbbe36 !important;
  color: #fbbe36 !important;
}
.cid-rTSIVn9M4U .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-rTSIVn9M4U .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-rTSIVn9M4U .container {
  display: flex;
  margin: auto;
}
.cid-rTSIVn9M4U .navbar.navbar-short .nav-link,
.cid-rTSIVn9M4U .navbar.navbar-short .navbar-caption,
.cid-rTSIVn9M4U .navbar.navbar-short .mbr-iconfont {
  color: #fbbe36 !important;
  border-color: #fbbe36;
}
.cid-rTSIVn9M4U .navbar.navbar-short .hamburger span {
  background: #fbbe36 !important;
}
.cid-rTSIVn9M4U .navbar-caption {
  padding-right: 3rem;
}
.cid-rTSIVn9M4U .navbar.opened {
  background: #fbbe36 !important;
}
.cid-rTSIVn9M4U .nav-item:focus,
.cid-rTSIVn9M4U .nav-link:focus {
  outline: none;
}
.cid-rTSIVn9M4U .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rTSIVn9M4U .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rTSIVn9M4U .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rTSIVn9M4U .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rTSIVn9M4U .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rTSIVn9M4U .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5em 1.5em 0.5em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rTSIVn9M4U .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #fbbe36;
}
.cid-rTSIVn9M4U .navbar.opened {
  transition: all .3s;
}
.cid-rTSIVn9M4U .navbar .dropdown-item {
  padding: .5rem 1.5rem;
}
.cid-rTSIVn9M4U .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-rTSIVn9M4U .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rTSIVn9M4U .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rTSIVn9M4U .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rTSIVn9M4U .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rTSIVn9M4U .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rTSIVn9M4U .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rTSIVn9M4U .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rTSIVn9M4U .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rTSIVn9M4U .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rTSIVn9M4U .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rTSIVn9M4U .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rTSIVn9M4U .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rTSIVn9M4U .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rTSIVn9M4U .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rTSIVn9M4U .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rTSIVn9M4U .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rTSIVn9M4U .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rTSIVn9M4U .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-rTSIVn9M4U .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rTSIVn9M4U .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rTSIVn9M4U .navbar.navbar-short {
  background: #fbbe36 !important;
  min-height: 60px;
}
.cid-rTSIVn9M4U .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rTSIVn9M4U .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rTSIVn9M4U .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rTSIVn9M4U .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rTSIVn9M4U .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rTSIVn9M4U .dropdown-item.active,
.cid-rTSIVn9M4U .dropdown-item:active {
  background-color: transparent;
}
.cid-rTSIVn9M4U .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rTSIVn9M4U .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rTSIVn9M4U .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rTSIVn9M4U .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fbbe36;
}
.cid-rTSIVn9M4U .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rTSIVn9M4U .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rTSIVn9M4U ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rTSIVn9M4U .navbar-buttons {
  text-align: center;
}
.cid-rTSIVn9M4U button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rTSIVn9M4U button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ff7f9f;
}
.cid-rTSIVn9M4U button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rTSIVn9M4U button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rTSIVn9M4U button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rTSIVn9M4U button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rTSIVn9M4U nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rTSIVn9M4U nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rTSIVn9M4U nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rTSIVn9M4U nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rTSIVn9M4U .navbar-dropdown {
  padding: .5rem 1rem;
}
.cid-rTSIVn9M4U a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rTSIVn9M4U .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rTSIVn9M4U .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-rTSIVn9M4U .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rTSIVn9M4U .navbar {
    height: 77px;
  }
  .cid-rTSIVn9M4U .navbar.opened {
    height: auto;
  }
  .cid-rTSIVn9M4U .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rTSKboQQqp {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rTSKboQQqp H2 {
  color: #89b758;
}
.cid-rTSKboQQqp .mbr-text,
.cid-rTSKboQQqp .mbr-section-btn {
  color: #808080;
}
.cid-rTSKboQQqp img {
  max-width: 1000px;
  margin: auto;
}
@media (max-width: 992px) {
  .cid-rTSKboQQqp img {
    max-width: 500px;
    margin: auto;
  }
}
.cid-rTSKboQQqp H1 {
  color: #ffffff;
}
.cid-rTSKKETVaK {
  padding-top: 150px;
  padding-bottom: 90px;
  background-color: #f8bf23;
}
.cid-rTSKKETVaK .title-align {
  width: 100%;
}
.cid-rTSKKETVaK .img-col {
  position: relative;
  padding-top: 2rem;
}
.cid-rTSKKETVaK .img-col img {
  z-index: 2;
  position: relative;
}
.cid-rTSKKETVaK .mbr-iconfont {
  background: white;
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  color: #0f7699;
  height: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-rTSKKETVaK .list {
  display: flex;
  margin: 0;
  align-items: center;
}
.cid-rTSKKETVaK .pricebox {
  position: relative;
  display: flex;
  background: #0f7699;
  justify-content: space-between;
  padding: 1rem;
  padding-right: 2.6rem;
}
.cid-rTSKKETVaK .price-wrap {
  margin-left: 3rem;
}
.cid-rTSKKETVaK .item {
  margin-left: 3rem;
  height: fit-content;
}
.cid-rTSKKETVaK .item-first {
  margin-left: 0!important;
}
.cid-rTSKKETVaK H2 {
  color: #e7272d;
  position: relative;
  display: inline-block;
  width: fit-content;
}
.cid-rTSKKETVaK H2:before {
  position: absolute;
  content: '';
  right: -120px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background: currentColor;
}
.cid-rTSKKETVaK img {
  margin: auto;
  max-width: 500px;
}
.cid-rTSKKETVaK .mbr-section-subtitle,
.cid-rTSKKETVaK .title-align {
  color: #e7272d;
}
@media (max-width: 992px) {
  .cid-rTSKKETVaK .pricebox {
    margin-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rTSKKETVaK H2:before {
    content: none;
  }
  .cid-rTSKKETVaK .list {
    flex-direction: column;
    padding: 0;
    margin-left: 1.5rem;
    align-items: flex-start;
  }
  .cid-rTSKKETVaK .item {
    margin-left: 0rem;
    width: 100%;
  }
  .cid-rTSKKETVaK .pricebox {
    margin-right: 0rem;
  }
  .cid-rTSKKETVaK .mbr-iconfont {
    left: 50%;
    top: auto;
    transform: translateX(-50%);
    bottom: -45px;
  }
}
.cid-rTSN5vLotp {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rTSN5vLotp H2 {
  color: #e7272d;
}
.cid-rTSN5vLotp img {
  max-width: 500px;
  margin: auto;
}
.cid-rTSN5vLotp H1 {
  color: #89b758;
}
@media (min-width: 767px) {
  .cid-rTSN5vLotp .display-1 {
    margin-top: -1.6rem;
  }
}
.cid-rTSN5vLotp .span-row {
  width: 100%;
}
.cid-rTSMTOQZ8v {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rTSMTOQZ8v .mbr-text {
  color: #767676;
}
.cid-rTSMTOQZ8v .card-subtitle {
  margin: 0;
}
.cid-rTSMTOQZ8v img {
  object-fit: cover;
  max-height: 400px;
  widht: 100%;
  transition: all 0.6s;
}
.cid-rTSMTOQZ8v .link {
  transition: all 0.3s;
}
.cid-rTSMTOQZ8v .link-inline {
  display: inline-block;
  width: fit-content;
}
.cid-rTSMTOQZ8v .mbr-section-btn span {
  order: 2;
  padding: 0;
  margin-left: 1rem;
}
.cid-rTSMTOQZ8v .mbr-section-btn .btn {
  border: 0px;
}
.cid-rTSMTOQZ8v .mbr-section-btn .btn:hover {
  background: inherit!important;
  color: inherit!important;
}
.cid-rTSMTOQZ8v h4,
.cid-rTSMTOQZ8v h6,
.cid-rTSMTOQZ8v h5 {
  margin: 0;
}
.cid-rTSMTOQZ8v .link-wrap {
  display: flex;
  width: fit-content;
  align-items: center;
}
.cid-rTSMTOQZ8v .link-wrap span {
  margin-left: 0.6rem;
  transition: all 0.3s;
}
.cid-rTSMTOQZ8v .link-wrap:hover {
  color: #e7272d;
}
.cid-rTSMTOQZ8v .link-wrap:hover .link {
  color: #e7272d;
}
.cid-rTSMTOQZ8v .link-wrap:hover span {
  transform: translateX(5px);
}
.cid-rTSMTOQZ8v .wrapper {
  display: flex;
  margin-bottom: 0.8rem;
}
.cid-rTSMTOQZ8v .icon-wrap {
  display: flex;
  align-items: center;
}
.cid-rTSMTOQZ8v .icon-wrap span {
  margin-right: 8px;
}
.cid-rTSMTOQZ8v .icon-padding {
  padding-left: 2rem;
}
.cid-rTSMTOQZ8v .card {
  margin-bottom: 2rem;
}
.cid-rTSMTOQZ8v .row {
  justify-content: center;
}
.cid-rTSMTOQZ8v .location,
.cid-rTSMTOQZ8v .icon-wrap {
  color: #e7272d;
}
.cid-rTSMTOQZ8v .link,
.cid-rTSMTOQZ8v .link-wrap,
.cid-rTSMTOQZ8v .link-align {
  color: #0e0e0e;
}
@media (max-width: 767px) {
  .cid-rTSMTOQZ8v .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .cid-rTSMTOQZ8v .icon-padding {
    padding-left: 0rem;
  }
  .cid-rTSMTOQZ8v .card-box {
    padding: 0;
  }
}
.cid-rTSMTOQZ8v H2 {
  color: #e7272d;
}
.cid-rTSN8q0tLd {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rTSN8q0tLd H2 {
  color: #e7272d;
}
.cid-rTSN8q0tLd img {
  max-width: 500px;
  margin: auto;
}
.cid-rTSN8q0tLd H1 {
  color: #89b758;
}
@media (min-width: 767px) {
  .cid-rTSN8q0tLd .display-1 {
    margin-top: -1.6rem;
  }
}
.cid-rTSN8q0tLd .span-row {
  width: 100%;
}
.cid-rTSN8q0tLd .mbr-section-title,
.cid-rTSN8q0tLd .span-row {
  color: #89b758;
}
.cid-rTSMVJzEz1 {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffce3b;
}
.cid-rTSMVJzEz1 .mbr-text {
  color: #767676;
}
.cid-rTSMVJzEz1 .card-subtitle {
  margin: 0;
}
.cid-rTSMVJzEz1 .img1 {
  padding-right: .5rem;
}
.cid-rTSMVJzEz1 .img2 {
  padding-left: .5rem;
}
.cid-rTSMVJzEz1 .card-img {
  display: flex;
}
.cid-rTSMVJzEz1 img {
  object-fit: cover;
  max-height: 350px;
  width: 50%;
  transition: all 0.6s;
}
.cid-rTSMVJzEz1 .link {
  transition: all 0.3s;
}
.cid-rTSMVJzEz1 .link-inline {
  display: inline-block;
  width: fit-content;
}
.cid-rTSMVJzEz1 .mbr-section-btn span {
  order: 2;
  padding: 0;
  margin-left: 1rem;
}
.cid-rTSMVJzEz1 .mbr-section-btn .btn {
  border: 0px;
}
.cid-rTSMVJzEz1 .mbr-section-btn .btn:hover {
  background: inherit!important;
  color: inherit!important;
}
.cid-rTSMVJzEz1 h4,
.cid-rTSMVJzEz1 h6,
.cid-rTSMVJzEz1 h5 {
  margin: 0;
}
.cid-rTSMVJzEz1 .link-wrap {
  display: flex;
  width: fit-content;
  align-items: center;
}
.cid-rTSMVJzEz1 .link-wrap span {
  margin-left: 0.6rem;
  transition: all 0.3s;
}
.cid-rTSMVJzEz1 .link-wrap:hover {
  color: #e7272d;
}
.cid-rTSMVJzEz1 .link-wrap:hover .link {
  color: #e7272d;
}
.cid-rTSMVJzEz1 .link-wrap:hover span {
  transform: translateX(5px);
}
.cid-rTSMVJzEz1 .wrapper {
  display: flex;
  margin-bottom: 0.8rem;
}
.cid-rTSMVJzEz1 .icon-wrap {
  display: flex;
  align-items: center;
}
.cid-rTSMVJzEz1 .icon-wrap span {
  margin-right: 8px;
}
.cid-rTSMVJzEz1 .icon-padding {
  padding-left: 2rem;
}
.cid-rTSMVJzEz1 .card {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-rTSMVJzEz1 .row {
  justify-content: center;
}
.cid-rTSMVJzEz1 .location,
.cid-rTSMVJzEz1 .icon-wrap {
  color: #e7272d;
}
.cid-rTSMVJzEz1 .link,
.cid-rTSMVJzEz1 .link-wrap,
.cid-rTSMVJzEz1 .link-align {
  color: #0e0e0e;
}
@media (max-width: 767px) {
  .cid-rTSMVJzEz1 .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .cid-rTSMVJzEz1 .card-img {
    flex-direction: column;
  }
  .cid-rTSMVJzEz1 .img1 {
    padding-right: 0rem;
    padding-bottom: 1rem;
  }
  .cid-rTSMVJzEz1 img {
    width: 100%;
  }
  .cid-rTSMVJzEz1 .img2 {
    padding-left: 0rem;
  }
  .cid-rTSMVJzEz1 .icon-padding {
    padding-left: 0rem;
  }
  .cid-rTSMVJzEz1 .card-box {
    padding: 0;
  }
}
.cid-rTSMVJzEz1 H2 {
  color: #e7272d;
}
.cid-rTSNcfncL4 {
  padding-top: 300px;
  padding-bottom: 300px;
  background-image: url("../../../assets/images/background1.jpg");
}
@media (max-width: 992px) {
  .cid-rTSNcfncL4 {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@keyframes shadow {
  from {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0px 0px 0px 25px rgba(255, 255, 255, 0);
  }
}
.cid-rTSNcfncL4 .icon-wrap {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  z-index: 2;
  background: #e7272d;
  border-radius: 50%;
  animation: shadow 1s infinite ease-in-out;
}
.cid-rTSNcfncL4 .mbr-media span {
  font-size: 2rem;
  cursor: pointer;
  color: #f3f7ee;
  position: relative;
  transition: all 0.25s;
}
.cid-rTSNcfncL4 .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
}
.cid-rTSNcfncL4 .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rTSNcfncL4 a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rTSNcfncL4 a.close:hover {
  color: #ffffff;
}
@media (max-width: 576px) {
  .cid-rTSNcfncL4 {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .cid-rTSNcfncL4 .box {
    height: 250px;
  }
}
.cid-rTSMHugpJ5 {
  padding-top: 45px;
  padding-bottom: 150px;
  background-color: #f8bf23;
  background: linear-gradient(45deg, #f8bf23, #55acee);
}
.cid-rTSMHugpJ5 H2 {
  color: #e7272d;
}
.cid-rTSMHugpJ5 .mbr-text,
.cid-rTSMHugpJ5 .mbr-section-btn {
  color: #808080;
}
@media (min-width: 992px) {
  .cid-rTSMHugpJ5 .row {
    position: relative;
  }
  .cid-rTSMHugpJ5 .row .mbr-figure {
    width: 600px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: -100px;
  }
  .cid-rTSMHugpJ5 .row .mbr-figure img {
    max-width: 600px;
  }
}
.cid-rTSMHugpJ5 img {
  max-width: 500px;
  margin: auto;
}
.cid-rTSNfzvWKI {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rTSNfzvWKI .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-rTSNfzvWKI .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rTSNfzvWKI .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rTSNfzvWKI .title {
  padding: 0 2rem;
}
.cid-rTSNfzvWKI .mbr-gallery-item div {
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
  position: relative;
  z-index: 10;
  max-width: 400px;
  height: 300px!important;
}
.cid-rTSNfzvWKI .mbr-gallery-item div img {
  object-fit: cover;
  height: 100%;
}
.cid-rTSNfzvWKI .mbr-gallery-item div:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
  pointer-events: none;
}
.cid-rTSNfzvWKI .mbr-gallery-item div:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  pointer-events: none;
  z-index: 9;
}
.cid-rTSNfzvWKI .mbr-gallery-item div:hover:before {
  opacity: 0.3;
  width: 0;
}
.cid-rTSNfzvWKI .mbr-gallery-item div:hover:after {
  opacity: 0.3;
  height: 0;
}
.cid-rTSNfzvWKI .container {
  padding: 0 1rem;
}
.cid-rTSNfzvWKI .mbr-gallery-item--p4 {
  padding: 1rem!important;
}
.cid-rTSNfzvWKI .mbr-gallery-filter {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-rTSNfzvWKI .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-rTSNfzvWKI .icon-focus {
  display: none;
}
.cid-rTSNfzvWKI .btn-primary-outline {
  border: none!important;
  color: gray!important;
  padding: 1rem 1rem;
  position: relative;
  background: transparent!important;
  font-weight: 400;
}
.cid-rTSNfzvWKI .btn-primary-outline:hover {
  background: transparent!important;
  color: #e7272d !important;
}
.cid-rTSNfzvWKI .btn-primary-outline:active {
  background: transparent!important;
  color: black !important;
}
.cid-rTSNfzvWKI li {
  position: relative;
}
.cid-rTSNfzvWKI li:not(:last-child):after {
  content: '';
  position: absolute;
  height: 24px;
  width: 1px;
  right: 0px;
  top: 26px;
  background: lightgray;
  transform: rotate(35deg);
}
.cid-rTSNfzvWKI .btn {
  font-family: Roboto !important;
}
.cid-rTSNfzvWKI .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  height: 100%;
  padding: 2rem;
  color: #fff;
  z-index: 2;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.3s;
  opacity: 0;
}
.cid-rTSNfzvWKI .mbr-gallery-title:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rTSNfzvWKI li:not(:last-child):after {
    top: 9px;
  }
  .cid-rTSNfzvWKI .btn-primary-outline {
    padding: 0rem 1rem;
    margin: 0!important;
  }
  .cid-rTSNfzvWKI .container {
    padding: 0rem;
  }
  .cid-rTSNfzvWKI .title {
    padding: 0 1rem;
  }
}
.cid-rTSNfzvWKI H2 {
  color: #89b758;
}
.cid-rTSOqANcDx {
  padding-top: 120px;
  padding-bottom: 150px;
  background-color: #ffffff;
  background: linear-gradient(45deg, #ffffff, #e7272d);
}
.cid-rTSOqANcDx H2 {
  color: #e7272d;
}
@keyframes fly {
  from {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}
.cid-rTSOqANcDx .row {
  position: relative;
}
.cid-rTSOqANcDx .row:before {
  content: '';
  position: absolute;
  width: 800px;
  height: 750px;
  background: #e7272d;
  border-radius: 100%;
  left: 55%;
  top: 52%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
.cid-rTSOqANcDx .mbr-text,
.cid-rTSOqANcDx .mbr-section-btn {
  color: #808080;
}
.cid-rTSOqANcDx img {
  width: 100%;
  margin: auto;
  padding-bottom: 2rem;
  transition: all 0.3s;
  animation: fly 3s infinite ease-in-out;
}
.cid-rTSOqANcDx h4 {
  line-height: 1.4;
}
.cid-rTSOqANcDx .img-col {
  align-items: flex-end;
}
.cid-rTSOqANcDx .icon-wrap {
  padding-left: 2rem;
  width: 160px;
}
.cid-rTSOqANcDx .icon-wrap .mbr-iconfont {
  font-size: 4rem;
  color: #ffffff;
  display: block;
  padding-bottom: 1rem;
}
.cid-rTSOqANcDx .icon-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-rTSOqANcDx .row:before {
    left: 50%;
    top: 54%;
  }
}
@media (max-width: 767px) {
  .cid-rTSOqANcDx .icon-wrap {
    padding-left: 0rem;
    margin-bottom: 2rem;
  }
  .cid-rTSOqANcDx .icon-wrap .mbr-iconfont {
    font-size: 4rem;
  }
  .cid-rTSOqANcDx .icon-col {
    align-items: center;
  }
  .cid-rTSOqANcDx .row:before {
    height: 860px;
  }
}
.cid-rTSOqANcDx .icon-text,
.cid-rTSOqANcDx .mbr-iconfont {
  color: #ffffff;
}
.cid-rTSNjjgXWs {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rTSNjjgXWs .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-rTSNjjgXWs .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rTSNjjgXWs .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rTSNjjgXWs .title {
  padding: 0 2rem;
}
.cid-rTSNjjgXWs .container {
  padding: 0 1rem;
}
.cid-rTSNjjgXWs .mbr-gallery-item div {
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
  position: relative;
  z-index: 10;
  max-width: 400px;
}
.cid-rTSNjjgXWs .mbr-gallery-item div img {
  object-fit: cover;
  height: 100%;
}
.cid-rTSNjjgXWs .mbr-gallery-item div:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
  pointer-events: none;
}
.cid-rTSNjjgXWs .mbr-gallery-item div:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  pointer-events: none;
  z-index: 9;
}
.cid-rTSNjjgXWs .mbr-gallery-item div:hover:before {
  opacity: 0.3;
  width: 0;
}
.cid-rTSNjjgXWs .mbr-gallery-item div:hover:after {
  opacity: 0.3;
  height: 0;
}
.cid-rTSNjjgXWs .mbr-gallery-filter {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-rTSNjjgXWs .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-rTSNjjgXWs .icon-focus {
  display: none;
}
.cid-rTSNjjgXWs .btn-primary-outline {
  border: none!important;
  color: gray!important;
  padding: 1rem 1rem;
  position: relative;
  background: transparent!important;
  font-weight: 400;
}
.cid-rTSNjjgXWs .btn-primary-outline:hover {
  background: transparent!important;
  color: #e7272d !important;
}
.cid-rTSNjjgXWs .btn-primary-outline:active {
  background: transparent!important;
  color: black !important;
}
.cid-rTSNjjgXWs li {
  position: relative;
}
.cid-rTSNjjgXWs li:not(:last-child):after {
  content: '';
  position: absolute;
  height: 24px;
  width: 1px;
  right: 0px;
  top: 26px;
  background: lightgray;
  transform: rotate(35deg);
}
.cid-rTSNjjgXWs .btn {
  font-family: Roboto !important;
}
.cid-rTSNjjgXWs .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  height: 100%;
  padding: 2rem;
  color: #fff;
  z-index: 2;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.3s;
  opacity: 0;
}
.cid-rTSNjjgXWs .mbr-gallery-title:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rTSNjjgXWs li:not(:last-child):after {
    top: 9px;
  }
  .cid-rTSNjjgXWs .btn-primary-outline {
    padding: 0rem 1rem;
    margin: 0!important;
  }
  .cid-rTSNjjgXWs .container {
    padding: 0rem 0.5rem;
  }
  .cid-rTSNjjgXWs .title {
    padding: 0 1rem;
  }
}
.cid-rTSNjjgXWs H2 {
  color: #89b758;
}
.cid-rTSRRYOA3A {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
  background: linear-gradient(45deg, #ffffff, #e7272d);
}
.cid-rTSRRYOA3A H2 {
  color: #e7272d;
}
.cid-rTSRRYOA3A .mbr-text,
.cid-rTSRRYOA3A .mbr-section-btn {
  color: #808080;
}
.cid-rTSRRYOA3A img {
  max-width: 500px;
  margin: auto;
}
.cid-rTSRRYOA3A h4 {
  line-height: 1.4;
}
.cid-rTSRRYOA3A .icon-wrap {
  padding-left: 2rem;
  width: 160px;
}
.cid-rTSRRYOA3A .icon-wrap .mbr-iconfont {
  font-size: 4rem;
  color: #e7272d;
  display: block;
  padding-bottom: 1rem;
}
.cid-rTSRRYOA3A .icon-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-rTSRRYOA3A .mbr-figure {
    order: 1;
  }
  .cid-rTSRRYOA3A .icon-wrap {
    text-align: center;
    margin: auto;
    padding-left: 0rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  .cid-rTSRRYOA3A .icon-wrap .icon-text {
    text-align: center;
  }
  .cid-rTSRRYOA3A .icon-wrap .mbr-iconfont {
    font-size: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-rTSRRYOA3A .icon-wrap .mbr-iconfont {
    font-size: 4rem;
  }
}
.cid-rTSM73Htdv {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rTSM73Htdv .mbr-text {
  color: #767676;
}
.cid-rTSM73Htdv .card-subtitle {
  margin: 0;
}
.cid-rTSM73Htdv .item-wrapper {
  background: #ffffff;
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.03);
  padding: 1.5rem;
  border-radius: 9px;
  transition: all 0.6s;
}
.cid-rTSM73Htdv img {
  object-fit: cover;
  height: 100%;
  transition: all 0.6s;
  border-radius: 9px;
}
.cid-rTSM73Htdv .card-box {
  padding: 1rem;
}
.cid-rTSM73Htdv .link {
  transition: all 0.3s;
}
.cid-rTSM73Htdv .link-inline {
  display: inline-block;
  width: fit-content;
}
.cid-rTSM73Htdv .mbr-section-btn span {
  order: 2;
  padding: 0;
  margin-left: 1rem;
}
.cid-rTSM73Htdv .mbr-section-btn .btn {
  border: 0px;
}
.cid-rTSM73Htdv .mbr-section-btn .btn:hover {
  background: inherit!important;
  color: inherit!important;
}
.cid-rTSM73Htdv h4,
.cid-rTSM73Htdv h6,
.cid-rTSM73Htdv h5 {
  margin: 0;
}
.cid-rTSM73Htdv .link-wrap {
  display: flex;
  width: fit-content;
  align-items: center;
}
.cid-rTSM73Htdv .link-wrap span {
  margin-left: 0.6rem;
  transition: all 0.3s;
}
.cid-rTSM73Htdv .link-wrap:hover {
  color: #e7272d;
}
.cid-rTSM73Htdv .link-wrap:hover .link {
  color: #e7272d;
}
.cid-rTSM73Htdv .link-wrap:hover span {
  transform: translateX(5px);
}
.cid-rTSM73Htdv .wrapper {
  display: flex;
  margin-bottom: 0.8rem;
}
.cid-rTSM73Htdv .icon-wrap {
  display: flex;
  align-items: center;
}
.cid-rTSM73Htdv .icon-wrap span {
  margin-right: 8px;
}
.cid-rTSM73Htdv .icon-padding {
  padding-left: 2rem;
}
.cid-rTSM73Htdv .card {
  cursor: pointer;
  margin-bottom: 4rem;
}
.cid-rTSM73Htdv .card:hover .card-img:before {
  opacity: 0.3;
  width: 0;
}
.cid-rTSM73Htdv .card:hover .card-img:after {
  opacity: 0.3;
  height: 0;
}
.cid-rTSM73Htdv .card:hover .item-wrapper {
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.1);
}
.cid-rTSM73Htdv .card:hover img {
  transform: scale(1.1);
}
.cid-rTSM73Htdv .card-img {
  height: 220px;
  border-radius: 9px!important;
  margin-top: -3rem;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
}
.cid-rTSM73Htdv .card-img:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
}
.cid-rTSM73Htdv .card-img:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
}
.cid-rTSM73Htdv .row {
  justify-content: center;
}
.cid-rTSM73Htdv .location,
.cid-rTSM73Htdv .icon-wrap {
  color: #e7272d;
}
.cid-rTSM73Htdv .link,
.cid-rTSM73Htdv .link-wrap,
.cid-rTSM73Htdv .link-align {
  color: #0e0e0e;
}
@media (max-width: 992px) {
  .cid-rTSM73Htdv .wrapper {
    flex-direction: column;
  }
  .cid-rTSM73Htdv .icon-padding {
    padding-left: 0rem;
  }
  .cid-rTSM73Htdv .card-box {
    padding: 0;
  }
}
.cid-rTSM73Htdv H2 {
  color: #e7272d;
}
.cid-rTSMyRTc7r {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rTSMyRTc7r .card-subtitle {
  margin: 0;
}
.cid-rTSMyRTc7r .card-img {
  z-index: 2;
  position: relative;
  width: 100%;
  transition: all 0.3s;
  padding-top: 2rem;
}
.cid-rTSMyRTc7r .card-img img {
  max-width: 200px;
}
.cid-rTSMyRTc7r .card-box {
  margin-top: 10rem;
  background: #f5477e;
  padding: 2rem 1rem;
  z-index: 1;
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  position: relative;
  margin-bottom: -5rem;
}
.cid-rTSMyRTc7r .card1 {
  background-image: url("../../../assets/images/01.jpg");
  background-size: cover;
}
.cid-rTSMyRTc7r .card2 {
  background-image: url("../../../assets/images/02.jpg");
  background-size: cover;
}
.cid-rTSMyRTc7r .card3 {
  background-image: url("../../../assets/images/03.jpg");
  background-size: cover;
}
.cid-rTSMyRTc7r .icon {
  width: 60px;
  height: 60px;
  background: #f8bf23;
  font-size: 1.2rem;
  margin: auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffffff !important;
}
.cid-rTSMyRTc7r .item-wrapper {
  position: relative;
  padding: 2rem;
  border-radius: 9px;
  transition: all 0.3s;
  cursor: pointer;
}
.cid-rTSMyRTc7r h4,
.cid-rTSMyRTc7r h6,
.cid-rTSMyRTc7r h5 {
  margin: 0;
}
.cid-rTSMyRTc7r .mbr-text {
  transition: all 0.3s;
}
.cid-rTSMyRTc7r .price {
  color: #0e0e0e;
  transition: all 0.3s;
}
.cid-rTSMyRTc7r img {
  transition: all 0.3s;
  width: 170px;
  height: 170px;
  object-fit: cover;
}
.cid-rTSMyRTc7r .card {
  cursor: pointer;
  transition: all .3s;
  margin-bottom: 6rem;
}
.cid-rTSMyRTc7r .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-rTSMyRTc7r .wrapper {
    flex-direction: column;
  }
  .cid-rTSMyRTc7r .icon-padding {
    padding-left: 0rem;
  }
  .cid-rTSMyRTc7r .item-wrapper {
    padding: 1rem;
  }
}
.cid-rTSMyRTc7r .mbr-text,
.cid-rTSMyRTc7r .mbr-section-btn,
.cid-rTSMyRTc7r .card-img {
  color: #808080;
}
.cid-rTSMyRTc7r H2 {
  color: #89b758;
}
.cid-rTSMyRTc7r H1 {
  color: #29361a;
}
.cid-rTSNL1iAbP {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/gallery03.jpg");
}
.cid-rTSNL1iAbP .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-rTSNL1iAbP .form-group {
  margin-bottom: 1rem;
}
.cid-rTSNL1iAbP .form-control {
  border: none;
  border-radius: 0;
  padding: .5rem 1rem;
  background: #efefef;
  color: #000000;
  width: 100%;
}
.cid-rTSNL1iAbP textarea.form-control {
  min-height: 96px;
}
.cid-rTSNL1iAbP .input-group-btn {
  width: 100%;
}
.cid-rTSNL1iAbP .input-group-btn .btn {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.cid-rTSNL1iAbP .form-control-label {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 100 !important;
}
.cid-rTSNL1iAbP .google-map {
  width: 100%;
  height: 25rem;
}
.cid-rTSNL1iAbP .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-rTSNL1iAbP .info-row ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.cid-rTSNL1iAbP .info-row ol li {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding: 10px;
}
.cid-rTSNL1iAbP .info-value {
  color: #efefef;
}
@media (max-width: 991px), (max-width: 767px) {
  .cid-rTSNL1iAbP .form-wrapper {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rTSNL1iAbP .form-subtitle {
    text-align: center;
  }
}
.cid-rTSO7G431B {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
